@import url('https://fonts.googleapis.com/css?family=Signika:300,400,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body{
  font-family: 'Signika', sans-serif;
  overflow-x: hidden;
}

:root{
  --primary-color: #FFAB0D;
  --blue-color: #0267C1;
}

.btn-main{
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 7px 15px;
}

.btn-main:hover{
  color: #fff;
  opacity: 0.7;
  transition: opacity 0.5s;
}

.header{
  background: rgba(0, 0, 100, 0.4);
  height: 100vh;
}

.video-background{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.container{
  width: 90%;
}
.logo{
  width: 200px;
}

.nav-item{
  margin-right: 10px;
  font-size: 18px;
}

.nav-item .btn-outline-primary{
  border: 1px solid var(--primary-color);
  color: #FFAB0D!important;
}

.nav-item .btn-outline-primary:hover{
  background: var(--primary-color);
  transition: 0.5s;
  color: #fff!important;
}

.nav-item .btn-primary{
  background: var(--primary-color);
  color: #fff!important;
  border: none;
}

.nav-item .btn-primary:hover{
  opacity: 0.6;
  transition: opacity 0.5s;
}

.nav-search{
  min-width: 400px;
  width: 100%;
  border-radius: 5px 0 0 5px;
  border: 1px solid #f1f1f1;
}

.nav-form .btn-secondary{
  background: var(--primary-color);
  border: none;
  border-radius: 0 5px 5px 0;
}

.header-content{
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 30%;
}

.header-content h1{
  font-weight: bold;
  font-size: 64px;
}

.header-content p{
  width: 70%;
  font-size: 18px;
}

.btn-select{
  background: #fff;
}

/* Main */

/*cards*/

.heading{
  font-weight: 600;
  font-size: 24px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.card{
  margin-bottom: 30px;
  cursor: pointer;
}

.card:hover{
  border: none;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
}

.location-text{
  font-weight: 600;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.card-title {
  font-weight: 600;
  font-size: 16px;
}

.tags {
  font-size: 18px;
  font-weight: 100;
}

.more{
  margin: 20px 0;
}

.visit{
  margin: 100px;
}

.mockup{
  margin: auto;
  -webkit-animation: breathing 7s ease-out infinite normal;
  animation: breathing 7s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

/* ofline class */

.offline_class{
  margin: 50px auto;
}

.offline_class p{
  font-size: 24px;
}

.color_bg{
  height: 438px;
  width: 400px;
  background: #D9EDFF;
}

.physical_img{
  position: absolute;
  top: 10%;
  left:10%;
  width: 80%;
}

/*money*/

.money{
  margin-bottom: 150px;
}

.money-img{
  position: absolute;
}

.money-text{
  position: relative;
  color: #fff;
  top: 100px;
}



/* single workshop */
.workshop-image-header{
  margin-top: 73px;
  margin-bottom: 100ox;
  background: #FFAB0D;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.big1{
  grid-column: 1/2;
  grid-row: 1/3;
  object-fit: contain;
}

.bbig{
  height: auto;
}

.big2{
  grid-column: 2/3;
  grid-row: 1/2;
}
.big3{
  grid-column: 3/4;
  grid-row: 1/2;
}
.big4{
  grid-column: 2/3;
  grid-row: 2/3;
}

.big5{
  grid-column: 3/4;
  grid-row: 2/3;
}

.main_single{
  height: 100px;
}
/* Login*/

.login-header>a{
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}

.login-header>a:hover{
  color: var(--primary-color);
  text-decoration: none;
}

.login-heading{
  font-size: 30px;
  font-weight: bold;
}

.login-p{
  font-size: 18px;
}

.login-form{
  margin-top: 60px;
}

.btn-login-main{
  background-color: var(--primary-color);
  color: #fff;
  width: 270px;
  height: 50px;
}

.btn-login-main:hover{
  opacity: 0.7;
  transition: 0.5s;
  color: white;
}

.btn-signup-outline{
  border: 2px solid var(--primary-color);
  width: 270px;
  height: 50px;
  color: #FFAB0D;
}

.btn-signup-outline:hover{
  background: var(--primary-color);
  color: #fff;
}

.Login-socials>a{
  color: var(--blue-color);
}

.Login-socials>a:hover{
  color: var(--primary-color);
}

.login-image{
  background-size: cover;
  background-position: center;
  background-image: url('https://images.unsplash.com/photo-1426927308491-6380b6a9936f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80');
  height: 100vh;
  padding: 0;
}

.login-overlay{
  background: rgba(2, 103, 193, 0.8);
  height: 100%;
  width: auto;
  z-index: 1;
}

.dots{
  position: absolute;
  z-index: 2;
  width: 200px;
  height: 200px;
  top: 100px;
  left: 100px;
}

.login-text{
  font-size: 50px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 100px;
  color: #fff;
  width: 488px;
  line-height: 50px;
}

.arrow{
  position: absolute;
  z-index: 2;
  top: 70%;
  left: 100px;
}



/* footer */
.sub{
  width: 50%;
  border-radius: 5px 0 0 5px;
}

.all-content{
  padding-top: 100px;
}

.app-footer{
  background: #0267C1;
  color: #fff;
}

.footer_details ul{
  list-style: none;
}

.footer_details{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #fff;
  width: 83%;
  margin: 0 auto;
  padding-top:62px;
}

.footer_details ul{
  list-style: none;
  cursor: pointer;
}

.footer-heading{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.footer_text{
  font-size: 14px;
  line-height: 17px;
}
.home{
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 18px;
}
.home li{
  padding-bottom: 17px;
}
.social .footer-heading{
  padding-bottom: 8px;
}
footer a svg.svg-inline--fa{
color: #fff;
padding-right: 18px;
text-decoration: none;
}
.copyright{
  color: #fff;
  width: 83%;
  margin: 0 auto;
  padding-top: 49px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 16px;
}

/*Summer workshop*/
.hero-summer{
  margin-top: 70px;
}

.summer-hero-overlay{
  position: absolute;
}

.summer-hero-text{
  margin-top: -80px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.summer-hero-text h3{
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 50px;
}

.classes a{
  color: rgba(0, 0, 0, 0.8);
}

.classes a:hover{
  text-decoration: none;
}

.card-price{
  color: var(--primary-color);
}

.class-status-upcoming{
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(50, 190, 81, 0.8);
  border-radius: 0 5px 0 0;
  color: #fff;
  padding: 10px;
}

.class-status-closed{
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 171, 13, 0.8);
  border-radius: 0 5px 0 0;
  color: #fff;
  padding: 10px;
}

.interest.container-fluid > div > div:nth-child(1){
  padding: 0;
}

.interest.container-fluid > div > div:nth-child(2){
  padding-right: 130px;
  padding-left: 50px;
}
.interest.container-fluid > div > div:nth-child(2) h3{
  font-weight: bold;
  font-size: 24px;
  color: var(--blue-color);
}

.interest.container-fluid > div > div:nth-child(2) > form > button{
  width: 100%;
}

.interest{
  margin-top: 80px;
}

/*single-summer*/

.single-summer{
  margin: 100px;
}

.single-summer > div > div:nth-child(2) > form > a{
  width: 100%;
}

/* Payment page*/

.single-summer > div > div:nth-child(2) > a{
  width: 100%;
}

.single-summer > div > div:nth-child(2) > div > div:nth-child(1) > p:nth-child(3) > span {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
}

  @media only screen and (max-width: 768px) {
  .heading{
    font-size: 12px;
  }

  .video-background{
    width: auto;
    height: 100%;
  }

  .header-content{
    text-align: center;
  }

  .nav-item{
    margin-bottom: 10px;
  }

  .nav-search{
    min-width: 300px;
  }

  .nav-form{
    margin: 15px auto;
  }

  .money-img{
    width: auto;
    height: 350px;
  }

  .money-text{
    width: 80%;
    margin: 100px auto;
    text-align: center;
  }

  .visit {
    margin: 0;
  }

  .visit-text{
    font-size: 18px;
    width: 80%;
    text-align-last: center;
    margin-top: 30px;
  }

  .visit{
    margin: 0;
  }

  .mockup{
    margin: 30px 0;
    width: 90%;
  }

  .offline_class p{
    text-align: center;
    width: 80%;
  }

  .footer_details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding-top:40px;
}

/* Login */
.login-image{
  display: none;
}

.login-button{
  flex-direction: column;
}

.btn-login-main,
.btn-signup-outline{
  width: 100%;
  margin-bottom: 10px;
}

/*-- Summer workshop--*/
.summer-hero{
  width: auto;
  height: 300px;
  margin-top: 70px;
}

.summer-hero-overlay{
  top: 140px;
}

.overlay-img{
  height: 300px;
}

.summer-hero-text{
  width: 80%;
}

.summer-hero-text h3{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 50px;
}

.heading h1{
  font-size: 24px;
}

.interest.container-fluid > div > div:nth-child(2){
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 50px;
}

/*Payment-page*/

.single-summer{
  margin-top: 150px;
  margin-left:10px;
}

}